<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body{
     padding-top: 60px; 
}
</style>
</head>
<body>
<div ng-controller="BlogController as blogCtrl" class="container">
<div class="form-group has-feedback"></div>
<div class="row">
<div class="col-sm-3">
<p><input type="text" ng-model="sear_text" placeholder="Search.." class="form-control cols-sm-5"></p>
</div>
</div>
    <table class="table table-bordered">
        <thead>
            <tr>
            	<th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in blogCtrl.blogs | filter: sear_text">
            	<td><span ng-bind="row.blogId"></span></td>
	        	<td><span ng-bind="row.title"></span></td>
	         	<td><span ng-bind="row.description"></span></td>
                <td><input type="submit" ng-click="blogCtrl.viewBlog(row.blogId)" data-toggle="modal" data-target="#myModal" class="btn btn-primary" value="View Blog"/></td>
            </tr>
        </tbody>
    </table>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Title: {{blogCtrl.viewblog.title}}</h4>
        </div>
        <div class="modal-body">
          <p>Description: {{blogCtrl.viewblog.description}}</p>
          Comment:
          <div ng-controller="BlogCommentController as blogCommentCtrl">
            <form class="form-horizontal" name="blogCommentForm" method="POST">
     			<input type="text" name="blogCommentContent" ng-model="blogCommentCtrl.blogcomment.blogCommentContent" class="form-control" placeholder="Enter comment" /><br>
     			<input type="submit" ng-click="blogCommentCtrl.addBlogComment()" class="btn btn-primary" value="Add Comment"/>
            		<!-- No. of comments {{blogCommentCtrl.blogcomments.length}} -->
            </form>  
           </div>
           </br>
           <div ng-controller="BlogLikeController as blogLikeCtrl">
            <form class="form-horizontal" name="blogLikeForm" method="POST">
     			<input type="submit" ng-click="blogLikeCtrl.addBlogLike()" class="btn btn-primary" value="Like"/>
     			No. of likes {{blogLikeCtrl.bloglikes.length}}
            </form>  
           </div>
           </br>
           <div ng-controller="BlogCommentController as blogCommentCtrl">
           <input type="submit" ng-click="blogCommentCtrl.fetchAllBlogComments()" class="btn btn-primary" value="View comments"/>
           		<!-- No. of comments {{blogCommentCtrl.blogcomments.length}} -->	</br>
           		<table class="table table-bordered">
			        <!-- <thead>
			            <tr>
			            	<th>Id</th>
			                <th>UserId</th>
			                <th>Comment</th>
			                <th>BlogId</th>
			                <th>Action</th>
			            </tr>
			        </thead> -->
			        </br>
			        <tbody>
			            <tr ng-repeat="row in blogCommentCtrl.blogcomments">
			            	<!-- <td><span ng-bind="row.blogCommentId"></span></td> -->
				        	<td>User Id: <span ng-bind="row.userId"></span></td>
				         	<td><span ng-bind="row.blogCommentContent"></span></td>
				         	<!-- <td><span ng-bind="row.blogId"></span></td> -->
				         	<div ng-controller="UserController">
			                <td ng-hide="currentUser.userId!==row.userId"><input type="submit" ng-click="blogCommentCtrl.deleteBlogComment(row.blogCommentId)" class="btn btn-primary" value="Delete"/></td> 
			            	</div>
			            </tr>
			        </tbody>
			    </table>	
           </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="blogCtrl.close()" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

</div>
</body>
</html>