<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body{
     padding-top: 80px; 
}
</style>
</head>
<body>
<div class="container" ng-controller="JobApplicationController as ctrl">
<!-- <input type="submit" ng-click="ctr.getMyFriend()" class="btn btn-primary" value="get Friend"/>   -->
    <table class="table table-bordered">
        <tbody>
            <tr ng-repeat="job in ctrl.jobapplications">
            	<td>JobId:<span ng-bind="job.jobId"></span></td>
            </tr>
        </tbody>
    </table>
  </div>
</body>
</html>
